<nav class="navbar">
    <div class="navbar-left">
        <strong class="navbar-brand">MyFinanças</strong>
        <div class="navbar-links">
            <a href="/novo_lancamento" class="nav-link">Nova Transação</a>
            <a href="/listagem" class="nav-link">Extrato</a>
            <a href="/categorias" class="nav-link">Categorias</a>
        </div>
    </div>
    <div class="navbar-right">
        <span class="user-greeting">
            Olá, <a href="/perfil" class="user-name">{{ session['usuario_nome'] }}</a>
        </span>
        <a href="/logout" class="btn-logout">Sair</a>
    </div>
</nav>